.dashboard{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: relative;

    padding: 20px;
    overflow: auto;
}
.dashboard .user,
.dashboard .manager,
.dashboard .admin{
    width: 100%;
}
.dashboard .user .analysis,
.dashboard .manager .analysis,
.dashboard .admin .analysis{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
}
.dashboard .user .analysis div,
.dashboard .manager .analysis div,
.dashboard .admin .analysis div{
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.dashboard .admin .analysis div.tot{
    background: linear-gradient(90deg, var(--bg1), var(--bg1));
}
.dashboard .admin .analysis div.act{
    background: linear-gradient(90deg, var(--success), var(--success));
}
.dashboard .admin .analysis div.del{
    background: linear-gradient(90deg, var(--error), var(--error));
}
.dashboard .admin .analysis div h3,
.dashboard .admin .analysis div h1{
    font-weight: 600;
}
.dashboard .admin .chart{
    margin-top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard .admin .chart .chartContainer {
    position: relative;
    width: 300px;
    height: 300px;
}
.dashboard .admin .chart .chartContainer .pie-chart {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dashboard .admin .chart .chartContainer .label {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

